#!/usr/bin/make -f
DEB_UPSTREAM_VERSION ?= $(shell dpkg-parsechangelog \
                          | sed -rne 's/^Version: ([0-9.]+)[-+].*$$/\1/p')

%:
	dh $@ --builddirectory=_build --buildsystem=golang --with=golang --with=bash-completion

override_dh_auto_install:
	dh_auto_install -- --no-source

override_dh_auto_build:
	dh_auto_build -O--buildsystem=golang -- -ldflags "-X github.com/dvdmuckle/spc/cmd.version=$(DEB_UPSTREAM_VERSION)"
